<!doctype html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}SIGEMP{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	
	<!-- styles -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css" />
	
	<script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	

</head>

<body>
	
	{% block content %}
	
	{% endblock %}
	
	<script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
	
</body>
</html> 